<div class="container">
    <h1>Event(s)</h1>
        <p>Event created by: <%= @event.creator.name %></p>
        
    <hr>
    <p><%= link_to 'new event', new_event_path %></p>
    <p><%= link_to 'home', root_path %></p>
</div>

